<div class="container">
    <div class="col-sm-12">
        <img src="images/jangkrik.jpg">
        <p>
            Cengkerik atau jangkrik (Gryllidae) adalah serangga yang berkerabat dekat dengan belalang, memiliki tubuh rata dan antena panjang. Jangkrik adalah omnivora, dikenal dengan suaranya yang hanya dihasilkan oleh cengkerik jantan. Suara ini digunakan untuk menarik betina dan menolak jantan lainnya. Suara cengkerik ini semakin keras dengan naiknya suhu sekitar. Di dunia dikenal sekitar 900 spesies cengkerik, termasuk di dalamnya adalah gangsir.
        </p>
        <p>
            Cengkerik telah dipelihara manusia sejak lama, dan di Asia dianggap sebagai pembawa keberuntungan. Laga cengkerik adalah sejenis permainan yang populer dan kerap kali melibatkan taruhan. Di Caraguatatuba, Brazil, cengkerik hitam di dalam ruangan dipercaya sebagai tanda datangnya penyakit, cengkerik hijau harapan, dan cengkerik kelabu uang. Dalam komedi, suara cengkerik biasanya digunakan untuk menandakan lawakan yang tidak lucu dan tidak membuat orang tertawa.
        </p>
    </div>
</div>