<div class="container">
    <h3>FUN FACT</h3>
    <ul>
        <li>
            Jangkrik atau nama latinnya Gryllus asimilis, hewan sejenis serangga yang memiliki antena dan sayap, hal yang unik Biasanya jangkrik jantan mengerik dengan keras (suaranya “krik-krik”). Suaranya digunakan untuk menarik perhatian jangkrik betina.
        </li>
        <li>
            Jangkrik betina akan lebih tertarik pada jantan yang agresif dan mengeluarkan suara paling keras.setelah betina mendekat maka jangkrik jantan akan mengeluarkan suara yang lebih kuat.
        </li>
        <li>
            Suara Jangkrik dapat mengusir tikus, dengan suara menderik yang keras jangkrik dapat menghasilkan suara dengan frekwensi yang dapat mengganggu pendengaran tikus karena Tikus merupakan salah satu binatang cukup alergi dengan suara-suara dengan frekuensi tertentu.
        </li>   
    </ul>
</div>