<div class="container text-center">
    <table class="gallery col-centered">
        <tr>
            <td><img src="images/j1.jpg" width=350 height=200>
            <td><img src="images/j2.jpg" width=350 height=200>
        </tr>
        <tr>
            <td><img src="images/j3.jpg" width=350 height=200>
            <td><img src="images/j6.jpg" width=350 height=200>
        </tr>
        <tr>
            <td><img src="images/j4.jpg" width=350 height=200>
            <td><img src="images/j5.jpg" width=350 height=200>
        </tr>
    </table>
</div>